@import url(../base/errors.css);

html {
  background: #f4f4f4 url(images/fundo.png);
  overflow-x: hidden;
}

body {
  width: auto;
  background: url(images/bg-top.jpg) 50% top repeat-x;
}

#wrap {
  width: 1000px;
  height: 510px;
  background: transparent;
  margin: auto;
  background: white url(images/serpro-erro.png) 90% 100% no-repeat;
}

#header {
  margin: 10px;
  position: relative;
  height: 78px;
  background: none;
  -moz-border-radius: 5px;
}

#logo {
  height: 70px;
  width: 360px;
  top: 20px;
  left: 300px;
  background: url(images/logo-menor.png) no-repeat;
}

h1 {
  margin: 30px 0px 0px 0px;
  font-weight: bold;
  font-variant: normal;
  border-bottom: 1px dotted #9A0000;
  color: #9A0000;
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

#wrap .signature {
  color: #9A0000;
}
