<div id="footer-content">
	<p class="footer-links"><a href="/serpro/institucional/a-rede-social">A Rede Social</a> | <a href="/serpro/institucional/termo-de-uso">Termo de Uso</a> | <a href="/ajuda">Ajuda</a> | <a href="/doc">Manual do usuário</a></p>
  <p class="copyright">Esta rede social utiliza o software livre <a href="http://www.noosfero.org" target="_blank">Noosfero</a>, desenvolvido pela <a href="http://colivre.coop.br" target="_blank">Colivre</a> e licenciado pela <a href="http://www.gnu.org/licenses/agpl.html" target="_blank">GNU Affero General Public License</a>, versão 3 ou superior. </p>
</div>
<!-- Piwik -->
<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
var u="//nephila.serpro.gov.br/";
_paq.push(['setTrackerUrl', u+'piwik.php']);
_paq.push(['setSiteId', 103]);
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();
</script>
<noscript><p><img src="//nephila.serpro.gov.br/piwik.php?idsite=103" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
