<li class='first'>
<a href="/"><span>Página inicial</span></a>
</li>
<li>
  <%= search_people_menu %>
</li>
<li>
  <%= search_communities_menu %>
</li>
<li>
  <%= search_contents_menu %>
</li>
<li>
  <a href="/search/events"><span ><%= _('Events') %></span></a>
</li>
<% if logged_in? %>
<li>
  <a href="/doc"><span ><%= _('Help') %></span></a>
</li>
<% end %>
