@import url(../base/style.css);
/* Red: 9A0000 9F0706 */

/* Background {{{ */
html {
  background: #f4f4f4 url(images/fundo.png);
  overflow-x: hidden;
}

body {
  background: url(images/bg-top.jpg) 50% top repeat-x;
}

* {
  font-family: "Helvetica", "Verdana", "Trebuchet MS", "Arial", sans-serif;
}

a {
  color: #07069F;
  outline: none;
}

a:visited {
  color: #666;
}

#theme-header {
  height: 100px;
}

/* }}} */

/* Navigation bar  {{{ */
#navigation {
  top: 6px;
  left: 10px;
  width: 977px;
  background: #000090 url(images/menu-top-bg.png) repeat-x;
  -moz-border-radius: 5px;
  z-index: 6;
}

.msie6 #navigation {
  background: #000060 url(images/menu-top-bg.png) repeat-x;
  filter: none;
}

.msie7 #content {
  z-index: 8;
}

#navigation-end {
  background-image: none;
}

.msie6 #navigation-end {
  filter: none;
}

#navigation ul {
  float: left;
  height: 43px;
  padding-left: 8px;
}
#navigation .menu-submenu-list {
  padding-left: 0px;
}

#navigation li {
  border: none;
  border-left: none;
  background: url(images/menu-top-bg-sep.png) no-repeat;
  padding-left: 2px;
}

#navigation a {
  line-height: 43px;
}

#navigation li.first {
  background: none;
}
#navigation .menu-submenu-list li {
  background: none;
  padding-left: 0px;
}

/* #navigation .sep {
  padding: 0px;
  font-size: 16px;
  color: #d3d7cf;
} */

#navigation li a {
  border: none;
  color: #FFF;
}
#navigation li a:hover {
  background: url(images/menu-top-bg-hover.png) 0% 50%;
}

#navigation li .menu-submenu-list a {
  color: #fff;
}

#user form input {
  border: 1px solid #008;
  border-bottom: 1px solid #008;
  padding-left: 5px;
  z-index: 7;
}
#user form.focused input {
  border: 1px solid #600;
  border-bottom: 1px solid #500;
}

#user form div {
  color: #FFF;
}

#user {
  color: #babdb6;
  top: 55px;
  right: 17px;

}

#user a {
  font-size: 11px;
}

#user a strong {
  color: #888a85;
}

#navigation a span {
  padding: 0px 15px;
  background: transparent;
}

.msie8 #user a#link_login i {
  top: -10px;
}

/*
#navigation a {
  display: inline-block;
}
*/
/* }}} */

/* Content {{{ */

#wrap-2 {
  position: relative;
}

#content {
  margin-top: 70px;
  border: 1px solid transparent; /* workarround MSIE-7 bug */
}

#main-content-wrapper-1,
#main-content-wrapper-2,
#main-content-wrapper-3,
#main-content-wrapper-4,
#main-content-wrapper-5,
#main-content-wrapper-6,
#main-content-wrapper-7,
#main-content-wrapper-8 {
  background: none;
  padding: 0px;
}

#content .block.main-block {
  background: white;
  margin-top: 0px;
}

#content .main-block h1,
#content .main-block h2{
  background: #EEE;
  margin: 0px 0px 10px 0px;
  padding: 2px 10px 2px 25px;
  border: 1px dotted #AAA;
  border-left: none;
  border-right: none;
  color: #00006A;
  font-variant: normal;
}

#content .main-block h2 {
  border: 0;
  background: transparent;
  color: #000;
  padding-left: 2px;
}

/* }}} */

/* Blocks {{{ */

.msie7 .block .menu-submenu {
  z-index: 9;
}

.msie7 .common-profile-list-block .vcard { 
  z-index: 6; 
}

.msie7 .box-2,
.msie7 .box-3 {
  z-index: 10;
}

.block {
  background: #e5e5e5;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#content h3.block-title,
#content .login-block h2 {
  height: 36px;
  line-height: 34px;
  background: url(images/box-title-bg.png) no-repeat;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  color: #000055;
  font-variant: normal;
  font-size: 12px;
}

#content h3.block-title span,
#content .login-block h2 span {
  padding: 3px 0px 3px 35px;
  background: url(images/box-icon-generic.png) no-repeat 10px 50%;
}

.login-box-content {
  padding: 0px 10px 5px 10px;
}

#content .environment-statistics-block ul {
  padding: 0px 10px 10px 10px;
}

.msie7 #content .communities-block .vcard .menu-submenu-trigger {
  height: 20px;
}

#content .communities-block .vcard .profile_link {
  text-align: center;
  padding-bottom: 0px;
  height: 112px;
}
#content .msie6 .communities-block .common-profile-list-block .vcard .profile_link,
.msie7 .communities-block .common-profile-list-block .vcard .profile_link {
  height: 112px;
  padding-bottom: 0px;
}

.communities-block .vcard a .org {
  padding-top: 0px;
}

.common-profile-list-block span {
  color: #07069F;
}

/* * * Microblog * * */

.microblog-follow-link {
  margin: 0px;
  position: absolute;
  top: 10px;
  right: 3px;
}
#content .microblog-follow-link a {
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-weight: normal;
  display: block;
  font-size: 10px;
  line-height: 14px;
}
#content .microblog-follow-link a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.microblog-block li:hover {
  background: #D0D0D0;
}
.microblog-author {
  background: #EEE;
}
.microblog-block li:hover .microblog-author {
  background: #E0E0E0;
}

.microblog-block ul {
  padding-bottom: 2px;
}

.microblog-block li {
  color: #555;
}
.microblog-block li:hover {
  color: #000;
}

.microblog-block a,
.microblog-block a:visited,
.microblog-block a:hover {
  color: #B44;
}
.microblog-block li:hover a,
.microblog-block li:hover a:visited,
.microblog-block li:hover a:hover {
  color: #B00;
}

/* }}} */

/* vim: set foldmethod=marker */

#site-title {
  position: absolute;
  width: 1000px;
  height: 100px;
  left: 5px;
  top: -110px;
}

#site-title a {
  display: block;
  width: 329px;
  height: 50px;
  background: url(images/logo.png) no-repeat;
  position: absolute;
  left: 10px;
  top: 50px;
}

#site-title a span {
  display: none;
}
.formlabel {
  color: #06069F;
}

.formfield input,
.formfield textarea {
  background: #fff;
  border: 1px solid #ccc;
  width: 500px;
}

#content .link-list-block li a.link-this-page {
  border-right: 2px solid #cecece;
}

.login-box .forgot-passwd a {
  color: #06069F;
}

#content .login-box a.button {
  border: 0;
  background: transparent;
  color: #333;
}

#content .login-box input.button {
  background: #710404 url(images/red-button-bg.png) left top repeat-x;
  border: 0;
  color: white;
  padding: 2px 6px;
  text-align: center;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#content .login-block h2 span {
  background-image: url(images/icon-login.png);
}

#content .main-block h1 {
  background: transparent url(images/arrows.png) left center no-repeat;
  border: 0;
}

#footer-content {
  text-align: center;
  font-size: 14px;
}

#footer-content .footer-links {
  font-size: 11px;
}

#footer-content .footer-links a {
  color: #000055;
}

#footer-content .copyright {
  font-size: 11px;
}

#footer-content .copyright a {
  color: #00006A;
}

#footer-content .cc a {
  display: block;
  width: 88px;
  height: 31px;
  background-image: url(images/cc.png);
  opacity: 0.5;
  margin: 0 auto;
}

#footer-content .cc a:hover {
  opacity: 1;
}

#footer-content .cc a span {
  display: none;
}

#content .profile-balloon h4 {
  color: #06069F;
}

#user form {
  height: 20px;
  top: -43px;
  right: 0px;
  position: absolute;
}

#theme-footer {
  background: #f4f4f4 url(images/footer-bg-2.png) center top no-repeat;
  margin-top: -14px;
  padding-top: 10px;
}
.msie7 #theme-footer {
  margin-top: 0px;
  padding-top: 10px;
}

#content .highlighted-news-item h2 {
  border: 0;
  background: none;
  padding-left: 2px;
}

#content .highlighted-news-item h2 .post-title {
  font-size: 18px;
}

.headline {
  font-size: 14px;
}

#highlighted-news .post-title {
  font-size: 12px;
}

.news-area {
  background: #fff url(images/portal-folder-bg.png) center center no-repeat;
  width: 246px;
  height: 217px;
  border: 0;
}

.news-area ul {
  border: 0;
  margin-top: 20px;
  background: transparent;
}

#content .news-area h3 {
  background: transparent;
  font-size: 11px;
  height: 10px;
  width: 100px;
  overflow: visible;
  text-align: left;
  padding: 5px 0 5px 20px;
}

#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .friends-block .block-footer-content a {
  top: 22px;
  right: 5px;
  padding-right: 0;
  font-size: 10px;
  color: #999;
  background: transparent;
}

#content .news-area h3 a {
  color: #00006A;
}

#content .block.main-block {
  background-color: #f4f4f4;
  padding: 6px;
}

#content .news-area a.news-see-more {
  top: 200px;
  right: 19px;
  background: transparent;
}

.news-area li {
  list-style-image: none;
  padding-left: 15px;
  margin-left: 4px;
  background: transparent url(images/portal-folder-marker.png) left center no-repeat;
}

#article-actions {
}

#portal-news li a {
  color: #00006A;
}

#portal-news {
  position: relative;
  z-index: 10;
}

#highlighted-news-see-more {
  position: absolute;
  right: 10px;
  bottom: -16px;
  padding: 0;
  background: #FFF url(images/highlighted-bottom-bg.png) center bottom no-repeat;
  width: 73px;
  height: 17px;
}

.msie7 #highlighted-news-see-more {
  bottom: 3px;
}

#highlighted-news-see-more a {
  margin-left: 15px;
  color: #000;
}

#highlighted-news-see-more a:hover {
  color: #07C;
  text-decoration: none;
}

.highlights-block {
  border: 0;
  background: transparent;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.highlights-image-link {
  width: 575px !important;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background: #000;
}

.highlights-block {
  height: 300px;
}

.highlights-container,
.highlights-image-link {
  height: 275px !important;
}

.block a.highlights-image-link:hover {
  text-decoration: none;
}
  
.highlights-block-pager {
  border: 0;
  float: left;
  position: static;
}

.highlights-block-pager a {
  color: #ccc;
  font-weight: bold !important;
}

.highlights-block-pager a.activeSlide,
.highlights-block-pager a.activeSlide:hover,
.highlights-block-pager a:hover {
  color: #00006A !important;
}

.highlights-label {
  padding-left: 5px;
  text-align: left;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  font-weight: bold;
  background: transparent url(images/red-pixel.png) left top repeat;
}

.msie7 .highlights-block,
.msie7 .highlights-container,
.msie .highlights-block .block-inner-2,
.msie .highlights-block .block-inner-1,
.msie7 .highlights-border,
.msie7 .highlights-image-link,
.msie7 #content #box-1 .highlights-block {
  width: 100% !important;
  overflow: hidden;
}

.profile-image-block, .link-list-block {
  background: transparent;
}

#content .link-list-block li a:hover {
  background: #07069F;
}

#content .link-list-block li a {
  color: #07069F;
}

#agenda-toolbar {
  bottom: 5px;
  right: 0px;
  text-align: right;
}

.logged-user-info .user-actions {
  padding-bottom: 8px;
}

#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .friends-block .block-footer-content a {
  margin-right: 5px;
}

.blog-post {
  background: transparent;
  padding: 0;
  width: 98%;
  margin: 10px auto;
  border-top: 1px dotted #ccc;
}

.blog-post p {
  padding: 5px;
}

#addThis {
}

#bt_addThis {
  display: inline-block;
  width: 125px;
  height: 16px;
  background-image: url(images/addthis.gif);
}

#bt_addThis img {
  visibility: hidden;
}

#content .login-block h2 {
  padding-left: 5px;
}

#article {
  background-color: #fff;
  padding: 5px;
  color: #666;
}

#content .main-block #article h1 {
  background: transparent;
  border: 0;
  border-bottom: 1px dotted #00006A;
  padding: 4px;
}

.blog-feed-link {
  margin-top: 6px;
}

#article-parent {
  display: block;
}

#wrap-1, #theme-footer {
  width: 1000px;
}

#content .main-block #article .blog-post h1,
#content .blog-post .title a {
  border: 0;
}

.main-block .article-body {
  padding-top: 10px;
}

.profile-image-block p {
  color: #00006A;
}

table.profile th {
  color: #333;
  border-bottom: 1px dotted #333;
  font-size: 14px;
}

/* Navigation lighter red: #B40607
   Navigation darker red: #7B0707 */

#navigation .menu-submenu {
  z-index: 5;
}

#navigation .menu-submenu ul {
  padding-top: 20px;
  background: #073e7b;
  border-left: 1px solid #073e7b;
  border-color: #7B0707;
}

#navigation .menu-submenu a {
  border-left: 0;
  color: #fff;
}

#navigation li .menu-submenu-trigger {
  background: #044596 url(images/down-arrow-light.png) center center no-repeat;
  height: 16px;
  top: 43px;
  left: 2px;
  z-index: 12;
  border: 1px solid #032b5c;
  border-top-color: #fff;
}

.msie7 .block .menu-submenu-trigger,
.msie7 #search-results .menu-submenu-trigger,
.msie7 #browse-results .menu-submenu-trigger {
  width: 20px !important;
}

#navigation li:hover .menu-submenu-trigger:hover {
  background: #083755 url(images/down-arrow-light.png) center center no-repeat;
  border-color: #083755;
  border-top-color: #fff;
}

#content .no-boxes h1 {
  font-variant: normal;
  color: #07069F;
  border: 0;
  border-bottom: 1px solid #07069F;
  padding-bottom: 4px;
}

.browse-results-innerbox {
  border: 0;
  background: transparent;
}

#TB_window {
  background: #fff url(images/lightbox-bg.jpg) 145% -60% no-repeat;
  width: 500px;
  height: 295px;
  overflow: visible;
  border: 16px solid #FFF;
  padding: 0;
  border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  box-shadow: inset 0 0 100px #888;
  -moz-box-shadow: inset 0 0 100px #888;
  -webkit-box-shadow: inset 0 0 100px #888;
}
.msie #TB_window {
  background: #fff url(images/lightbox-bg.jpg) 100% 0% no-repeat;
  border: 16px solid #000;
}

#TB_window .button-bar {
  margin: 5px 0;
  padding-top: 0px;
}

#TB_window .formlabel {
  font-weight: bold;
}

#online-doc-navigation a:link,
#online-doc-text a:link,
#online-doc-path a:link {
  color: #07069F
}

#online-doc-navigation a:visited,
#online-doc-text a:visited,
#online-doc-path a:visited {
  color: #666;
}

#online-doc-text {
  background: transparent;
}

#online-doc-path {
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
}

.product-categories-menu {
  display: none;
}

#article_types a {
  color: #00006A;
}

/* Icons */

#content .environment-statistics-block h3.block-title span { background-image: url(images/icon-net.png); }
#content .communities-block h3.block-title span { 
  background-image: url(images/icon-communities.png);
  padding-top: 2px;
  padding-bottom: 2px;
}
#content .feed-reader-block h3.block-title span { background-image: url(images/icon-live.png); }
#content .people-block h3.block-title span { background-image: url(images/icon-people.png); }

/* Hard-coded */
#content #block-75 h3.block-title span { background-image: url(images/icon-video.png); }
#content #block-74 h3.block-title span { background-image: url(images/icon-twitter.png); }
.controller-home #content .raw-html-block h3.block-title span { background-image: url(images/icon-twitter.png); }

li.event-dates { background-image: url(images/event.png) }

.agenda-item a img {
  display: none;
}

.agenda-item a {
  background: white url(images/event.png) left center no-repeat;
  padding-left: 30px;
  line-height: 30px;
}

.agenda-item a:hover {
  border: 0;
  background: white url(images/event.png) left center no-repeat;
}

.controller-search .search-results-innerbox {
  border-color: #ccc;
}

.controller-search #content .search-results-box a.see-more {
  background-color: #e5a0a0;
  border-color: #a00;
}

.controller-search #content .search-results-box a.see-more:hover {
  background-color: #a00;
}

.search-results-innerbox2 {
  float: left;
}

.controller-search .only-one-result-box,
.controller-search .only-one-result-box .search-results-innerbox {
  float: none;
  border: 0;
  background: transparent;
}

div#article-parent {
  text-align: left;
}

.add-friend-tags {
  display:none;
}

.controller-search #content .map-toggle-button {
  margin-top: -40px;
}

.controller-search .has_cat_list #product-categories-menu {
  display: none;
}

.map-or-list-search-results {
  margin-left: 0;
  margin-right: 0;
}

.controller-search .has_cat_list #map, .controller-search .msie .has_cat_list #map, .controller-search .has_cat_list .only-one-result-box .search-results-box, .controller-search .msie .has_cat_list .only-one-result-box .search-results-box {
  width: 100%;
  float: none;
}

.controller-search .search-tagged-items li {
  list-style-type: none;
}

.controller-search .search-results-products, .controller-search .search-results-enterprises{
  display: none;
}

div#notice {
  left: 50%;
  margin-left: -60px;
  top: 80px;
}

/* history activity and wall */

#profile-activity .profile-activity-description, #profile-network .profile-network-description {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#profile-network .profile-network-description textarea,
#profile-wall .profile-wall-description textarea {
  margin-left: 2px;
}

#profile-network .profile-network-description .limited-text-area p,
#profile-wall .profile-wall-description .limited-text-area p {
  margin-right: 10px;
}

.limited-text-area div.fieldWithErrors {
  background: transparent;
}

.msie7 #profile-activity li, .msie7 #profile-network li, .msie7 #profile-wall li {
  list-style: none;
	z-index: 1;
}

.msie7 #profile-activity .profile-activity-description,
.msie7 #profile-network .profile-network-description,
.msie7 #profile-wall .profile-wall-description {
  z-index: 2;
}

.msie7 #leave_scrap {
	overflow: hidden;
}

.msie7 #profile-activity hr, .msie7 #profile-network hr, .msie7 #profile-wall hr {
  visibility: hidden;
}

.msie #profile-activity .profile-activity-description,
.msie #profile-network .profile-network-description {
  border: 1px solid #ccc !important;
}

.msie7 #profile-activity ul, .msie7 #profile-network ul, .msie7 #profile-wall ul {
  padding-left: 0;
  margin-left: 0;
}

.msie7 .profile-wall-image,
.msie7 .leave_scrap_to_self .profile-network-image,
.msie7 .leave_scrap .profile-network-image,
.msie7 .leave_scrap_to_self .profile-activity-image,
.msie7 .leave_scrap .profile-activity-image {
  z-index: 3;
	left: 2px;
}

.msie7 #profile-activity .profile-activity-send-message,
.msie7 #profile-network .profile-network-send-message,
.msie7 #profile-wall .profile-wall-send-message {
  line-height: 24px;
	margin-top: 2px;
}

.msie #profile-wall .profile-wall-description .profile-wall-description {
  border: 0 !important;
}

.msie7 #profile-wall a.button.with-text.icon-cancel {
  display: inline-block;
  line-height: 17px;
}

.msie7 .ui-tabs .ui-tabs-nav li {
  top: 1px;
	margin: 0;
	margin-right: 4px;
}

.msie7 .profile-wall-scrap-replies {
  float: none;
	margin-top: 10px;
}

#profile-wall .comment-balloon-content {
  min-height: 73px;
}

#profile-wall .profile-wall-scrap-replies .comment-balloon br {
  line-height: 0;
}

/* Comment balloon */

.comment-replies .article-comment-inner,
#article .comment-replies .comment-replies .article-comment,
.comment-replies .comment-replies .article-comment-inner,
.comment-replies .comment-replies .comment-content,
.comment-replies .comment-content,
#article .comment-replies .article-comment ,
.comment-replies .article-comment-inner,
#article .comment-replies .comment-replies .article-comment,
.comment-replies .comment-replies .article-comment-inner,
.comment-replies .comment-replies .comment-content,
.comment-replies .comment-content,
#article .comment-replies .article-comment {
  border-radius: 0;
}

.comment-from-owner .comment-wrapper-1 {
  background-color: #fbcece;
  background-image: url(images/comment-owner-bg-N.png);
}
.comment-replies .comment-from-owner.comment-content {
  background-image: url(images/comment-reply-owner-bg.png);
}
.comment-from-owner .comment-wrapper-2 { background-image: url(images/comment-owner-bg-S.png); }
.comment-from-owner .comment-wrapper-3 { background-image: url(images/comment-owner-bg-L.png); }
.comment-from-owner .comment-wrapper-4 { background-image: url(images/comment-owner-bg-O.png); }
.comment-from-owner .comment-wrapper-5 { background-image: url(images/comment-owner-bg-SL.png); }
.comment-from-owner .comment-wrapper-6 { background-image: url(images/comment-owner-bg-SO.png); }
.comment-from-owner .comment-wrapper-7 { background-image: url(images/comment-owner-bg-NL.png); }
.comment-from-owner .comment-wrapper-8 { background-image: url(images/comment-owner-bg-NO.png); }


/* Plugin para curtir artigos e comentÃ¡rios */

.vote-detail ul {
  width: 100%;
  display: inline-block;
}

.vote-detail li {
  padding: 2px;
}

.action .vote-detail {
  width: 170px;
}

.vote-detail li span {
  width: 80%;
  display: inline-block;
  margin-left: 5px;
  text-align: left;
}

.action .dislike:before {
  content: url(images/negative-hand.png);
}

.action .like:before {
  content: url(images/positive-hand.png);
}

.vote-action .like-action-active .action-icon {
  opacity: 1;
}

.vote-action .action-icon {
  opacity: 0.5;
}

#article .action .action-icon {
  top: 3px;
}

#article .like-action .like-action-counter {
  color: #2A8C32;
}

#article .dislike-action .like-action-counter {
  color: #CC0000;
}

.vote-actions {
  position: relative;
  right: 0;
  top: 0;
}


#content .friends-block .block-footer-content .profiles-suggestions a, #content .friends-block .block-footer-content a.more-suggestions {
  position: initial;
}

#content .tags-block .block-footer-content a, #content .people-block .block-footer-content a, #content .profile-list-block .block-footer-content a, #content .enterprises-block .block-footer-content a, #content .members-block .block-footer-content a, #content .communities-block .block-footer-content a, #content .friends-block .block-footer-content a{
  top: 0px;
}

.profile-list li{
  height: 80px;
  width: 60px;
  margin-bottom: 20px;
}

#content .common-profile-list-block .profiles-suggestions .profile-list li{
  height: 50px;
}

/* PopUp Login*/

#colorbox .login-box{
	width: 700px;
  background: url("images/img_login_popUp.png") no-repeat scroll 90% 50% #FFFFFF;
}

#colorbox .login-box h2{
    background: url("images/bg-titulo-login.png") no-repeat scroll 70px 7px #FFFFFF;
    color: #757575;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    width: 45%;
}

#colorbox .login-box form {
    margin: 0;
    width: 45%;
    /*background: url("images/img_login_popUp.png") no-repeat scroll 70% 30% #FFFFFF;*/
}

#colorbox .login-box .formfieldline input {
	width: 95%;
}

#colorbox .login-box .button-bar input.icon-login {
    background: url("images/btn_entrar_login.png") no-repeat scroll 0 0 #FFFFFF;
    border: 0px none;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 50px !important;
    max-height: 50px !important;
    padding: 0;
    text-transform: uppercase;
    width: 145px;
	 cursor: pointer;
}

#colorbox .login-box .button-bar input.icon-login:hover {
	background-image: url("images/btn_entrar_login_hover.png");
}

#colorbox .login-box .button-bar a.icon-close {
  /*background: url("images/btn_cancelar_login.png") repeat-x scroll 0 0 #FFFFFF;*/
    background-color: #FCE9E8;
    background-image: none;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #CE5E5E;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    padding: 14px 13px 0;
    text-align: center;
    text-transform: uppercase;
    width: 115px;
}
#colorbox .login-box .button-bar a.icon-close:hover {
	background-color: #FFD1CF;
}

#colorbox .login-box .button-bar input.submit,
#colorbox .login-box .button-bar a.icon-close {
    border: 0px none;
}

#colorbox .login-box .button-bar {
    float: none;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
}

#colorbox .login-box .button-bar .icon-add{
    background-image: none;
    color: #004B82;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-right: 75px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -3em;
    width: 30%;
}


#colorbox .login-box .button-bar .icon-help{
	
}

#colorbox .login-box form .button-bar {
	float: none; 
	width: 100%
}


#colorbox .login-box .button-bar a.button.icon-help,
#colorbox .login-box .button-bar a.button.icon-add {
  display: none;
}


/* Gamification Plugin*/

.gamification .badge .image.positive_votes_received {
  background-image: url(images/badges/queridinhos_america.jpg);
}
.gamification .badge .image.article_author {
  background-image: url(images/badges/autor_artigo.jpg);
}
.gamification .badge .image.comment_received {
  background-image: url(images/badges/comentarios_recebidos.jpg);
}
.gamification .badge .image.negative_votes_received {
  background-image: url(images/badges/inimigo_estado.jpg);
}
.gamification .badge .image.comment_author {
  background-image: url(images/badges/comentario_realizado.png);
}
.gamification .badge .image.friendly {
  background-image: url(images/badges/amigos.jpg);
}

/*Feedback Button*/

button.feedback-btn.feedback-bottom-right { 
 background: url(images/feedback-button.png) no-repeat 100% 100%;
 position:fixed; 
 height: 117px; 
 width: 137px;
 border: none;
}

.blog-post.not-published {
  background: none;
  opacity: 1;
  filter: alpha(opacity=100);
}

.blog-post.not-published .publishing-info {
  background: transparent url("../serpro/images/padlock.png") no-repeat scroll 0% 0%;
  height: 20px;
  padding-left: 25px;
}

.blog-post.not-published .publishing-info > span {
  line-height: 20px;
  vertical-align: top;
}
